<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<bean class="in.sp.beans.Student" id="stdId">
<property name="Name" value="shailesh" />
<property name="rollNo" value="17" />
<property name="Marks" value="88.9f" />

</bean>


</beans>